@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Cinzel:wght@400;700&family=Poppins:wght@300;500&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --forte: #67127C;
    --fraca: #DFA400;
    --branco: #fff;
    --preto: #000;
}

html {
    scroll-snap-type: y mandatory;
    scroll-behavior: smooth;
}

body {
    background-color: #220529;
    height: 100vh;
    overflow: auto;
    scroll-snap-type: y mandatory;
    font-family: 'Poppins', sans-serif;

}

h1,
h2 {
    font-family: 'Cinzel', serif;
}

iframe {
    border-radius: 5px;
}

.btn-ver {
    background: linear-gradient(to right, #7b2cbf, #4b0082);
    color: white;
    font-size: 1.5em;
    font-weight: bold;
    padding: 15px 40px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: all 0.3s;
}

.btn-ver:hover {
    background: #dfa400;
    color: black;
    box-shadow: 0 0 15px rgba(223, 164, 0, 0.6);
    transform: scale(1.05);
}

.telaPersonagens {
    display: flex;
    align-items: center;
}

.personagem-camilo {
    background-color: #03A64A;
    background: radial-gradient(circle at center, #4CAF50 40%, #2E7D32 100%);
}
.personagem-vilela {
    background-color: #bb0325;
    background: radial-gradient(circle at center, #B71C1C 40%, #92081f 100%);
}
.personagem-rita {
    background-color: #dc2562;
    background: radial-gradient(circle at center, #bf1755 30%, #fe3c80 100%);
}
.personagem-cartomante {
    background-color: #dd6a2d;
    background: radial-gradient(circle at center, #F39C12 40%, #7D6608 100%);
}
.img-camilo {
    background-image: url('../img/camilo-perfil.png');
    background-position: center;
    background-size: cover;
}
.img-vilela {
    background-image: url('../img/vilela-perfil.png');
    background-position: center;
    background-size: cover;
}
.img-rita {
    background-image: url('../img/rita-perfil.png');
    background-position: center;
    background-size: cover;
}
.img-cartomante {
    background-image: url('../img/cartomante-perfil.png');
    background-position: center;
    background-size: cover;
}


@media screen and (orientation:landscape) {

    section {
        height: 100vh;
        width: 100%;
        display: flex;
        justify-content: space-between;
        scroll-snap-align: start;
    }
    
    .info {
        width: 35%;
        height: 100%;
        position: relative;
        left: 40px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        color: white;

        & .logo {
            font-size: 3em;
            margin: 20px 0;
            color: var(--fraca);

        }

        & .data {
            font-weight: bold;
        }

    }

    .img-capa {
        background: linear-gradient(to right, #220529 2%, transparent), url('../img/cartomante-capa.jpg');
        background-size: cover;
        background-position: center;
        width: 66%;
        height: 100%;
    }

    .telaTrailer {
        display: flex;
        align-items: center;
        justify-content: center;
        background: linear-gradient(180deg, #220529 0%, #0A0012 80%);
    }

    .trailer {
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column ;
    }
    .logoTrailer {
        font-size: 3em;
        padding: 3% 5% 0 5%;
        height: 15%;
        color: var(--fraca);
        display: flex;
        align-items: end;
    }

    .trailerIframe {
        width: 90%;
        height: 85%;
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 5% 5% 7% 5%;
    }

    .infoTrailer {
        width: 35%;
        height: 100%;
        overflow: hidden;
        padding: 2% 3% 2% 0;
        margin-right: 30px;
        display: flex;
        justify-content: flex-start;
        flex-direction: column;

        & .logo {
            font-weight: bold;
            margin: 0 0 20px 0;
            color: var(--fraca);
        }

        & .sinopse {
            overflow: auto;
            margin-top: 80px;
        }

    }

 
    .telaPersonagens {
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        background: linear-gradient(180deg, #0B0B0B 0%, #220529 100%);


        & .logoPersonagens {
            width: 100%;
            height: 20%;
            padding: 3% 5% 0 5%;
            color: var(--fraca);
            font-size: 3em;
        }

        & .img-personagens {
            width: 100%;
            height: 50%;
        }

        & .img-camilo {
            background-image: url('../img/camilo-perfil.png');
            background-position: center;
            background-size: cover;
        }
        & .img-vilela {
            background-image: url('../img/vilela-perfil.png');
            background-position: center;
            background-size: cover;
        }
        & .img-rita {
            background-image: url('../img/rita-perfil.png');
            background-position: center;
            background-size: cover;
        }
        & .img-cartomante {
            background-image: url('../img/cartomante-perfil.png');
            background-position: center;
            background-size: cover;
        }

        & .personagens {
            width: 92%;
            height: 75%;
            margin: 0% 4%;
            display: flex;
            justify-content: space-between;
        
            & h2 {
                font-size: 2em;
                margin: 15px 0;
            }
            & .personagem {
                width: 23%;
                height: 100%;
                border-radius: 4px;
                padding: 10px;
                overflow: scroll;

            }
            & .info-personagens {
                height: 60%;
            }

            
        }
    }

    .telaCreditos {
        display: flex;
        justify-content: flex-start;
    }

    .imgCreditos {
        width: 70%;
        height: 100%;
        background: linear-gradient(to left, #220529 2%, transparent), url('../img/creditos.jpg');
        background-position: center;
        background-size: cover;
    }
    .creditosContainer {
        display: flex;
        flex-direction: column;
        padding: 2%;

    }

    .logoCreditos {
        font-size: 3em;
        padding: 3% 5% 0 5%;
        width: 100%;
        height: 15%;
        color: var(--fraca);
        display: flex;
        align-items: end;
    }

    .creditos {
        height: 80%;
        width: 100%;
        overflow-y: scroll;
        color: white;

        & h1 {
            margin-top: 20px;
            color: var(--fraca);
        }
        & h2 {
            font-size: 1.4em;
            margin-top: 3px;
        }
    }

    ::-webkit-scrollbar {
        display: none;
    }



}

@media screen and (orientation:portrait) {
    section {
        width: 100%;
        padding: 7%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }
    
    .principal {
        height: 100vh;
        background: linear-gradient(to top, #220529 25%, transparent), url('../img/cartomante-capa-2.jpg');
        background-size: 120%;
        background-position: center top;
        background-repeat: no-repeat;
        display: flex;
        flex-direction: column-reverse;
        justify-content: space-between;
    }
    .logo {
        font-size: 2em;
        color: var(--fraca);
    }
    .infoPrincipal {
        height: 25%;
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        color: white;
    }
    .btn-ver {
        margin: 20px 0;
    }


    .telaTrailer {
        color: white;
        display: flex;
        background: linear-gradient(180deg, #220529 0%, #0A0012 80%);

    }

    .logoTrailer {
        margin-top: 30px;
    }
    .trailerIframe {
        width: 100%;
        height: 250px;
        margin-bottom: 30px;
    }
    .sinopse {
        overflow: auto;
        height: 600px;
        font-size: 1.3em;
    }


    .telaPersonagens {
        flex-direction: column;
        flex-wrap: wrap;
        background: linear-gradient(180deg, #0B0B0B 0%, #220529 100%);
    }

    .personagens {
        width: 100%;
        display: flex;
        flex-direction: column;
        border-radius: 5px;

        & .personagem {
            width: 100%;
            height: 90vh;
            border-radius: 3px;
            padding: 30px;
            margin: 25px 0;

        }

        & h2 {
            font-size: 2.4em;
            margin: 20px 0;
        }
        & .img-personagens {
            width: 100%;
            height: 50%;
        }


        & .info-personagens {
            overflow-y: auto;
            height: 40%;
            font-size: 1.2em;
        }

    }

    .logoCreditos {
        font-size: 3em;
        padding: 0% 5% 0 5%;
        width: 100%;
        height: 15%;
        color: var(--fraca);
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .creditos {
        height: 80%;
        width: 100%;
        overflow-y: scroll;
        color: white;

        & h1 {
            margin-top: 20px;
            color: var(--fraca);
            font-size: 1.8em;
        }
        & h2 {
            font-size: 1.4em;
            margin-top: 3px;
        }
    }
    .imgPortrait {
        background:  linear-gradient(to bottom, #220529 2%, transparent), url('../img/creditos.jpg');
        background-size: cover;
        background-position: center;
        width: 115%;
        margin: -6%;
        height: 50vh;
    }
}