@charset "UTF-8";
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root {
    --forte: #67127C;
    --fraca: #DFA400;
    --branco: #fff;
    --preto: #000; 
}
html {
    scroll-snap-type: y mandatory;
    scroll-behavior: smooth;
}
body {
    background-color: #220529;
    height: 100dvh;
    overflow: auto;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    scroll-snap-type: y mandatory;
}
@media screen and (orientation:landscape) {
    
    section {
        height: 100vh;
        width: 100%;
        display: flex;
        justify-content: space-between;
        scroll-snap-align: start;
    }
    .info {
        width: 35%;
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        color: white;

        & .logo {
            font-size: 3em;
            margin: 20px 0;
            
        }
        & .data {
            font-weight: bold;
        }
        & .btn-ver {
            background-color: #3d0a49;
            color: var(--branco);
            font-size: 2em;
            font-weight: bold;
            padding: 30px 80px;
            border: none;
            border-radius: 2px;
            box-shadow: 1px 1px 10px 0px rgba(0, 0, 0, 0.226);
            cursor: pointer;
            transition: 0.3s;
            &:hover {
                background-color: var(--fraca);
                color: #000;
            }
        }
    }

    .img-capa {
        background: linear-gradient(to right, #220529 3%, transparent), black;
        /*background: linear-gradient(to right, #220529 3%, transparent), url('../img/img-capa.jpg');*/
        background-size: cover;
        background-position: center;
        width: 66%;
        height: 100%;
    }

    .telaTrailer {
        display: flex;
        align-items: center;
    }
    .trailer {
        width: 75%;
        height: 70%;
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 7% 5%;
    }
    .infoTrailer {
        width: 35%;
        height: 100%;
        overflow: hidden;
        padding: 2% 3% 2% 0;
        display: flex;
        justify-content: center;
        flex-direction: column;
        
        & .logo {
            font-weight: bold;
            margin-bottom: 20px;
            color: var(--fraca);
        }
        & .sinopse {
            overflow: auto;
        }

    }

    .telaPersonagens {
        display: flex;
        align-items: center;
    }
    .personagens {
        width: 100%;
        height: 80%;
        display: flex;
        justify-content: space-around;
        align-items: center;
        margin: 8%;
        box-shadow: 1px 1px 10px 0px rgba(0, 0, 0, 0.226);
        border-radius: 5px;

        & .personagem {
            background-color: #dfa40099;
            width: 23%;
            height: 96%;
            border-radius: 7px;
            padding: 40px;
        }
        & .info-personagens {
            overflow-y: auto;
            height: 100%;
        }

    }


    ::-webkit-scrollbar {
        display: none;
    }


    footer {
        width: 100%;
        background-color: #3d0a49;
        color: white;
        text-align: center;
        padding: 10px 0;
        font-size: 1.2em;
        font-weight: bold;
        box-shadow: 0px -1px 10px 0px rgba(0, 0, 0, 0.226);
    }
}

@media screen and (orientation:portrait) {
    
}