<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <section class="tela">
        <div class="info">
            <p class="data">Disponível agora!</p>
            <h1 class="logo">A Cartomante</h1>
            <form action="/" method="get">
                <input type="button" value="Ver agora" class="btn-ver">
            </form>
        </div>
        <div class="img-capa">

        </div>
    </section>
    <footer>
        <p>Desenvolvido por <a href="https://github.com/jaderpereira">Jader Pereira</a>
    </footer>
    <script src="assets/js/bundle.js"></script>
</body>
</html>