<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>A cartomante</title>
</head>

<body>
    <section class="tela principal">
        <div class="info infoPrincipal">
            <p class="data">Disponível agora!</p>
            <h1 class="logo">A Cartomante</h1>
            <form action="/" method="get">
                <input type="button" value="Ver agora" class="btn-ver">
            </form>
        </div>
        <div class="img-capa"></div>
    </section>

    <section class="tela telaTrailer">
        <div class="trailer">
            <h1 class="logoTrailer logo">Trailer</h1>
            <iframe class="trailerIframe" src="https://www.youtube.com/embed/_NzqP0jmk3o?si=dwtPOUAARkBluP9y"
            title="YouTube video player" frameborder="0"
            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
            referrerpolicy="strict-origin-when-cross-origin" allowfullscreen>
            </iframe>
        </div>
        <div class="info infoTrailer">
            <h1 class="logo">Sinópse</h1>
            <p class="sinopse">Lorem ipsum dolor sit amet consectetur adipisicing elit. Placeat ducimus id consequatur
                unde amet cum culpa eligendi rem aperiam vitae. Sequi molestiae adipisci temporibus quae est tempora
                eaque, cumque officia. Lorem ipsum dolor, sit amet consectetur adipisicing elit. Obcaecati assumenda
                reprehenderit, accusamus officiis voluptatum unde aliquam nisi tempore in quaerat corporis excepturi
                vitae molestias atque quae perferendis ducimus natus nemo? Lorem ipsum dolor sit, amet consectetur
                adipisicing elit. Impedit, odit quibusdam asperiores ipsa esse consequatur voluptatibus ipsam explicabo,
                minima maxime at. Magnam ea odio in, aut quo voluptatem amet saepe! Lorem ipsum dolor sit amet
                consectetur, adipisicing elit. Molestiae soluta unde vitae tenetur, minima est sapiente suscipit, ullam,
                aut laudantium exercitationem! Distinctio et quisquam ex, praesentium unde ab in blanditiis.Lorem ipsum
                dolor sit amet consectetur adipisicing elit. Placeat ducimus id consequatur unde amet cum culpa eligendi
                rem aperiam vitae. Sequi molestiae adipisci temporibus quae est tempora eaque, cumque officia. Lorem
                ipsum dolor, sit amet consectetur adipisicing elit. Obcaecati assumenda reprehenderit, accusamus
                officiis voluptatum unde aliquam nisi tempore in quaerat corporis excepturi vitae molestias atque quae
                perferendis ducimus natus nemo? Lorem ipsum dolor sit, amet consectetur adipisicing elit. Impedit, odit
                quibusdam asperiores ipsa esse consequatur voluptatibus ipsam explicabo, minima maxime at. Magnam ea
                odio in, aut quo voluptatem amet saepe! Lorem ipsum dolor sit amet consectetur, adipisicing elit.
                Molestiae soluta unde vitae tenetur, minima est sapiente suscipit, ullam, aut laudantium exercitationem!
                Distinctio et quisquam ex, praesentium unde ab in blanditiis.Lorem ipsum dolor sit amet consectetur
                adipisicing elit. Placeat ducimus id consequatur unde amet cum culpa eligendi rem aperiam vitae. Sequi
                molestiae adipisci temporibus quae est tempora eaque, cumque officia. Lorem ipsum dolor, sit amet
                consectetur adipisicing elit. Obcaecati assumenda reprehenderit, accusamus officiis voluptatum unde
                aliquam nisi tempore in quaerat corporis excepturi vitae molestias atque quae perferendis ducimus natus
                nemo? Lorem ipsum dolor sit, amet consectetur adipisicing elit. Impedit, odit quibusdam asperiores ipsa
                esse consequatur voluptatibus ipsam explicabo, minima maxime at. Magnam ea odio in, aut quo voluptatem
                amet saepe! Lorem ipsum dolor sit amet consectetur, adipisicing elit. Molestiae soluta unde vitae
                tenetur, minima est sapiente suscipit, ullam, aut laudantium exercitationem! Distinctio et quisquam ex,
                praesentium unde ab in blanditiis.Lorem ipsum dolor sit amet consectetur adipisicing elit. Placeat
                ducimus id consequatur unde amet cum culpa eligendi rem aperiam vitae. Sequi molestiae adipisci
                temporibus quae est tempora eaque, cumque officia. Lorem ipsum dolor, sit amet consectetur adipisicing
                elit. Obcaecati assumenda reprehenderit, accusamus officiis voluptatum unde aliquam nisi tempore in
                quaerat corporis excepturi vitae molestias atque quae perferendis ducimus natus nemo? Lorem ipsum dolor
                sit, amet consectetur adipisicing elit. Impedit, odit quibusdam asperiores ipsa esse consequatur
                voluptatibus ipsam explicabo, minima maxime at. Magnam ea odio in, aut quo voluptatem amet saepe! Lorem
                ipsum dolor sit amet consectetur, adipisicing elit. Molestiae soluta unde vitae tenetur, minima est
                sapiente suscipit, ullam, aut laudantium exercitationem! Distinctio et quisquam ex, praesentium unde ab
                in blanditiis.</p>
        </div>
    </section>
    <section class="tela telaPersonagens">
        <h1 class="logo logoPersonagens">Personagens</h1>
        <div class="personagens">
            <article class="personagem personagem-camilo">
                <div class="img-personagens img-camilo"></div>
                <h2 class="nome-camilo">Camilo</h2>
                <p class="info-personagens info-camilo">Lorem ipsum dolor sit amet consectetur adipisicing elit. Quia
                    sed nam accusantium eveniet obcaecati vitae tenetur asperiores maiores voluptatibus consectetur,
                    ratione at, recusandae quaerat perferendis impedit qui totam, veniam rem. Lorem ipsum dolor sit
                    amet, consectetur adipisicing elit. Reiciendis accusantium dolore et aspernatur est accusamus cumque
                    nemo, quam tenetur consequuntur illum magnam, in esse, veniam natus pariatur. Natus, esse cum. Lorem
                    ipsum dolor sit amet consectetur adipisicing elit. Obcaecati, delectus, neque esse officia alias
                    laboriosam doloremque voluptate impedit dolores exercitationem placeat voluptas sit ex ad et. Amet,
                    repellendus adipisci. Culpa. Lorem ipsum dolor sit, amet consectetur adipisicing elit. Aspernatur
                    culpa accusamus, minus dolorem, dolore officia quisquam hic quae nemo voluptatum fugit, ipsum
                    expedita. Perspiciatis nam tempore aut doloribus odit sed.</p>
            </article>
            <article class="personagem personagem-vilela">
                <div class="img-personagens img-vilela"></div>
                <h2 class="nome-vilela">Vilela</h2>
                <p class="info-personagens info-vilela">Lorem ipsum dolor sit amet consectetur adipisicing elit. Quia
                    sed nam accusantium eveniet obcaecati vitae tenetur asperiores maiores voluptatibus consectetur,
                    ratione at, recusandae quaerat perferendis impedit qui totam, veniam rem.amet, consectetur adipisicing elit. Reiciendis accusantium dolore et aspernatur est accusamus cumque
                    nemo, quam tenetur consequuntur illum magnam, in esse, veniam natus pariatur. Natus, esse cum. Lorem
                    ipsum dolor sit amet consectetur adipisicing elit. Obcaecati, delectus, neque esse officia alias
                    laboriosam doloremque voluptate impedit dolores exercitationem placeat voluptas sit ex ad et. Amet,
                    repellendus adipisci. Culpa. Lorem ipsum dolor sit, amet consectetur adipisicing elit. Aspernatur
                    culpa accusamus, minus dolorem, dolore officia quisquam hic quae nemo voluptatum fugit, ipsum
                    expedita. Perspiciatis nam tempore aut doloribus odit sed.</p>
            </article>
            <article class="personagem personagem-rita">
                <div class="img-personagens img-rita"></div>
                <h2 class="nome-rita">Rita</h2>
                <p class="info-personagens info-rita">Lorem ipsum dolor sit amet consectetur adipisicing elit. Quia sed
                    nam accusantium eveniet obcaecati vitae tenetur asperiores maiores voluptatibus consectetur, ratione
                    at, recusandae quaerat perferendis impedit qui totam, veniam rem.amet, consectetur adipisicing elit. Reiciendis accusantium dolore et aspernatur est accusamus cumque
                    nemo, quam tenetur consequuntur illum magnam, in esse, veniam natus pariatur. Natus, esse cum. Lorem
                    ipsum dolor sit amet consectetur adipisicing elit. Obcaecati, delectus, neque esse officia alias
                    laboriosam doloremque voluptate impedit dolores exercitationem placeat voluptas sit ex ad et. Amet,
                    repellendus adipisci. Culpa. Lorem ipsum dolor sit, amet consectetur adipisicing elit. Aspernatur
                    culpa accusamus, minus dolorem, dolore officia quisquam hic quae nemo voluptatum fugit, ipsum
                    expedita. Perspiciatis nam tempore aut doloribus odit sed.</p>
            </article>
            <article class="personagem personagem-cartomante">
                <div class="img-personagens img-cartomante"></div>
                <h2 class="nome-cartomante">Cartomante</h2>
                <p class="info-personagens info-cartomante">Lorem ipsum dolor sit amet consectetur adipisicing elit.
                    Quia sed nam accusantium eveniet obcaecati vitae tenetur asperiores maiores voluptatibus
                    consectetur, ratione at, recusandae quaerat perferendis impedit qui totam, veniam rem.amet, consectetur adipisicing elit. Reiciendis accusantium dolore et aspernatur est accusamus cumque
                    nemo, quam tenetur consequuntur illum magnam, in esse, veniam natus pariatur. Natus, esse cum. Lorem
                    ipsum dolor sit amet consectetur adipisicing elit. Obcaecati, delectus, neque esse officia alias
                    laboriosam doloremque voluptate impedit dolores exercitationem placeat voluptas sit ex ad et. Amet,
                    repellendus adipisci. Culpa. Lorem ipsum dolor sit, amet consectetur adipisicing elit. Aspernatur
                    culpa accusamus, minus dolorem, dolore officia quisquam hic quae nemo voluptatum fugit, ipsum
                    expedita. Perspiciatis nam tempore aut doloribus odit sed.</p>
            </article>
        </div>
    </section>
    <footer>
        <p>Desenvolvido por <a href="https://github.com/jaderpereira">Jader Pereira</a>
    </footer>
    <script src="assets/js/bundle.js"></script>
</body>

</html>