<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>A cartomante</title>
</head>

<body>
    <section class="tela principal">
        <div class="info">
            <p class="data">Disponível agora!</p>
            <h1 class="logo">A Cartomante</h1>
            <form action="/" method="get">
                <input type="button" value="Ver agora" class="btn-ver">
            </form>
        </div>
        <div class="img-capa"></div>
    </section>

    <section class="tela telaTrailer">
        <iframe class="trailer" src="https://www.youtube.com/embed/_NzqP0jmk3o?si=dwtPOUAARkBluP9y"
            title="YouTube video player" frameborder="0"
            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
            referrerpolicy="strict-origin-when-cross-origin" allowfullscreen>
        </iframe>
        <div class="info infoTrailer">
            <h1 class="logo">Sinópse</h1>
            <p class="sinopse">Lorem ipsum dolor sit amet consectetur adipisicing elit. Placeat ducimus id consequatur
                unde amet cum culpa eligendi rem aperiam vitae. Sequi molestiae adipisci temporibus quae est tempora
                eaque, cumque officia. Lorem ipsum dolor, sit amet consectetur adipisicing elit. Obcaecati assumenda
                reprehenderit, accusamus officiis voluptatum unde aliquam nisi tempore in quaerat corporis excepturi
                vitae molestias atque quae perferendis ducimus natus nemo? Lorem ipsum dolor sit, amet consectetur
                adipisicing elit. Impedit, odit quibusdam asperiores ipsa esse consequatur voluptatibus ipsam explicabo,
                minima maxime at. Magnam ea odio in, aut quo voluptatem amet saepe! Lorem ipsum dolor sit amet
                consectetur, adipisicing elit. Molestiae soluta unde vitae tenetur, minima est sapiente suscipit, ullam,
                aut laudantium exercitationem! Distinctio et quisquam ex, praesentium unde ab in blanditiis.Lorem ipsum
                dolor sit amet consectetur adipisicing elit. Placeat ducimus id consequatur unde amet cum culpa eligendi
                rem aperiam vitae. Sequi molestiae adipisci temporibus quae est tempora eaque, cumque officia. Lorem
                ipsum dolor, sit amet consectetur adipisicing elit. Obcaecati assumenda reprehenderit, accusamus
                officiis voluptatum unde aliquam nisi tempore in quaerat corporis excepturi vitae molestias atque quae
                perferendis ducimus natus nemo? Lorem ipsum dolor sit, amet consectetur adipisicing elit. Impedit, odit
                quibusdam asperiores ipsa esse consequatur voluptatibus ipsam explicabo, minima maxime at. Magnam ea
                odio in, aut quo voluptatem amet saepe! Lorem ipsum dolor sit amet consectetur, adipisicing elit.
                Molestiae soluta unde vitae tenetur, minima est sapiente suscipit, ullam, aut laudantium exercitationem!
                Distinctio et quisquam ex, praesentium unde ab in blanditiis.Lorem ipsum dolor sit amet consectetur
                adipisicing elit. Placeat ducimus id consequatur unde amet cum culpa eligendi rem aperiam vitae. Sequi
                molestiae adipisci temporibus quae est tempora eaque, cumque officia. Lorem ipsum dolor, sit amet
                consectetur adipisicing elit. Obcaecati assumenda reprehenderit, accusamus officiis voluptatum unde
                aliquam nisi tempore in quaerat corporis excepturi vitae molestias atque quae perferendis ducimus natus
                nemo? Lorem ipsum dolor sit, amet consectetur adipisicing elit. Impedit, odit quibusdam asperiores ipsa
                esse consequatur voluptatibus ipsam explicabo, minima maxime at. Magnam ea odio in, aut quo voluptatem
                amet saepe! Lorem ipsum dolor sit amet consectetur, adipisicing elit. Molestiae soluta unde vitae
                tenetur, minima est sapiente suscipit, ullam, aut laudantium exercitationem! Distinctio et quisquam ex,
                praesentium unde ab in blanditiis.Lorem ipsum dolor sit amet consectetur adipisicing elit. Placeat
                ducimus id consequatur unde amet cum culpa eligendi rem aperiam vitae. Sequi molestiae adipisci
                temporibus quae est tempora eaque, cumque officia. Lorem ipsum dolor, sit amet consectetur adipisicing
                elit. Obcaecati assumenda reprehenderit, accusamus officiis voluptatum unde aliquam nisi tempore in
                quaerat corporis excepturi vitae molestias atque quae perferendis ducimus natus nemo? Lorem ipsum dolor
                sit, amet consectetur adipisicing elit. Impedit, odit quibusdam asperiores ipsa esse consequatur
                voluptatibus ipsam explicabo, minima maxime at. Magnam ea odio in, aut quo voluptatem amet saepe! Lorem
                ipsum dolor sit amet consectetur, adipisicing elit. Molestiae soluta unde vitae tenetur, minima est
                sapiente suscipit, ullam, aut laudantium exercitationem! Distinctio et quisquam ex, praesentium unde ab
                in blanditiis.</p>
        </div>
    </section>
    <section class="tela telaPersonagens">
        <div class="personagens">
            
        </div>
    </section>
    <footer>
        <p>Desenvolvido por <a href="https://github.com/jaderpereira">Jader Pereira</a>
    </footer>
    <script src="assets/js/bundle.js"></script>
</body>

</html>