<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>A cartomante</title>
</head>

<body>
    <section class="tela principal">
        <div class="info infoPrincipal">
            <p class="data">Disponível agora!</p>
            <h1 class="logo">A Cartomante</h1>
            <a href="https://youtu.be/_NzqP0jmk3o?si=Q1WDr4GB35XE8eq4">
                <input type="button" value="Ver agora" class="btn-ver">
            </a>
        </div>
        <div class="img-capa"></div>
    </section>

    <section class="tela telaTrailer">
        <div class="trailer">
            <h1 class="logoTrailer logo">Trailer</h1>
            <iframe class="trailerIframe" src="https://www.youtube.com/embed/_NzqP0jmk3o?si=dwtPOUAARkBluP9y"
                title="YouTube video player" frameborder="0"
                allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
                referrerpolicy="strict-origin-when-cross-origin" allowfullscreen>
            </iframe>
        </div>
        <div class="info infoTrailer">
            <h1 class="logo">Sinopse</h1>
            <p class="sinopse">
                No curta "A Cartomante", baseado no conto homônimo de Machado de Assis, o jovem Camilo mantém um caso secreto com Rita, esposa de seu melhor amigo, Vilela. Apesar do medo constante de serem descobertos, Rita se agarra às palavras otimistas de uma Cartomante, que lhe garante um futuro sem perigos. Camilo, cético, ri da crença de Rita, mas quando sente sua segurança ameaçada, é tomado pela vontade de buscar respostas no misticismo que antes desprezava. Entre cartas e presságios, não existe meio de fugir do fim. Ele é inevitável.
            </p>
        </div>
    </section>
    <section class="tela telaPersonagens">
        <h1 class="logo logoPersonagens">Personagens</h1>
        <div class="personagens">
            <article class="personagem personagem-camilo">
                <div class="img-personagens img-camilo"></div>
                <h2 class="nome-camilo">Camilo</h2>
                <p class="info-personagens info-camilo"> 
                    Inteligente. Apaixonado. Confiante. Traidor. Em meio a tantas pessoas, encontra o   amor verdadeiro na esposa do amigo. Dividido entre a lealdade e o desejo, se entrega à paixão proibida, certo de que consegue esconder seu segredo. O Destino tem outros planos pra ele
                </p>
            </article>
            <article class="personagem personagem-vilela">
                <div class="img-personagens img-vilela"></div>
                <h2 class="nome-vilela">Vilela</h2>
                <p class="info-personagens info-vilela">
                    Gentil. Amoroso. Companheiro. Impulsivo. Sente algo mudando ao seu redor. A confiança aos poucos cede espaço à dúvida. Entre o amor e a traição, a lealdade e o engano, ele se vê diante de um impasse. Até que ponto podemos realmente escapar do predestinado?
                </p>
            </article>
            <article class="personagem personagem-rita">
                <div class="img-personagens img-rita"></div>
                <h2 class="nome-rita">Rita</h2>
                <p class="info-personagens info-rita">
                    Formosa. Bela. Apaixonante. Enganadora. Tomada por dúvidas e receios, recorre à sabedoria de uma Cartomante. Mas as cartas são traiçoeiras, apresentam duas faces: nem sempre a mais doce é a verdadeira.
                </p>
            </article>
            <article class="personagem personagem-cartomante">
                <div class="img-personagens img-cartomante"></div>
                <h2 class="nome-cartomante">Cartomante</h2>
                <p class="info-personagens info-cartomante"> Misteriosa. Intuitiva. Sábia. Ardilosa. Com seus olhos afiados e sotaque
                    italiano, a Cartomante observa mais do que revela. Persuasiva e esperta, ela não apenas lê
                    as cartas: as desvenda. Sua postura enigmática sugere que sabe mais do que diz, então se
                    cria a dúvida: será apenas uma habilidosa manipuladora ou realmente uma mensageira do
                    destino?</p>
            </article>
        </div>
    </section>
    <section class="tela telaCreditos">
        <div class="imgCreditos"></div>
        <div class="creditosContainer">
            <h1 class="logoCreditos">Créditos</h1>
            <article class="creditos">
                <h1>Direção</h1>
                <h2>Paula Rangel</h2>
                <h2>João Gabriel</h2>
                <h2>Gal Melo Cabral</h2>

                <h1>Adaptação do roteiro</h1>
                <h2>Gabriel</h2>
                <h2>João Gabriel</h2>
                <h2>Vinícius Dahora</h2>

                <h1>Produção</h1>
                <h2>Victória Monteiro</h2>
                <h2>Isabela Alves</h2>
                <h2>Luan Martins</h2>

                <h1>Captação de imagem</h1>
                <h2>José Paulo</h2>
                <h2>Vitor Guimarães</h2>
                <h2>Wellington</h2>
                <h2>Daniel Lucas</h2>
                <h2>João Gabriel</h2>
                <h2>Paula Rangel</h2>
                <h2>Gal Melo</h2>

                <h1>Captação de som</h1>
                <h2>Pedro Arthur</h2>
                <h2>João Victor</h2>

                <h1>Edição</h1>
                <h2>Marlon Navega</h2>
                <h2>Lucas </h2>
                <h2>Caio Luis</h2>
                <h2>Deyverson</h2>
                <h2>Darlan</h2>
                <h2>João Matheus</h2>

                <h1>Divulgação</h1>
                <h2>Francis Dantas</h2>
                <h2>Jader Pereira</h2>

                <h1>Atuação</h1>
                <h2>Matheus Lopes - Vilela</h2>
                <h2>Davi Asaf - Camilo</h2>
                <h2>Lara de Souza - Rita</h2>
                <h2>Aruana Viera - Cartomante</h2>

                <h1>Direção de arte</h1>
                <h2>Gal Melo</h2>
                <h2>Anna Luiza</h2>
                <h2>Lara de Souza</h2>
            </article>
            <div class="imgPortrait"></div>
        </div>

    </section>
    <script src="assets/js/bundle.js"></script>
</body>

</html>